<div class="container">
<h2>Login</h2>
<form method='post' action= '/login'>
Email: <input type="text" name="email"><br><br>
Password: <input type="password" name="password"><br><br>
<input type="submit" value="Get up in there!"><br><br>
</form>
</div>
