<div class="container">
<h2>Register</h2>
<form method='post' action= '/register_user'>
Email: <input type="text" name="email"><br><br>
Password: <input type="password" name="password"><br><br>
<input type="submit" value="Register!"><br><br>
</form>
</div>
